{% extends 'base.html.twig' %}

{% block stylesheetsDist %}
    <style type="text/css">
        {% include '@web/styles/critical/default/index.css' ignore missing %}
    </style>
    <script>
        (function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(["{{ asset('styles/main.css') }}"]));
    </script>
    <noscript>
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    </noscript>
{% endblock stylesheetsDist %}

{% block body %}
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <li itemprop="url" class="active"><a href="#" title="Home" itemprop="name">Home</a></li>
                <li itemprop="url"><a href="#" title="About" itemprop="name">About</a></li>
                <li itemprop="url"><a href="#" title="Contact" itemprop="name">Contact</a></li>
            </ul>
            <h3>ISSC Coordinator</h3>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Non-Host Application Development</h1>
                    <p class="lead">Defining standards around Non-Host application development. This includes tools and language specific standards.</p>
                    <p><strong>DCM Site:</strong> <a href="https://dcmis.bcbssc.com/sites/gov/issc/nhapps/default.aspx">https://dcmis.bcbssc.com/sites/gov/issc/nhapps/default.aspx</a></p>
                    <p><strong>Chair:</strong> <a href="mailto:jon.sturdevant@bcbssc.com">Jon Sturdevant</a></p>
                </div>
            </div>

        </div>

        <div class="row marketing">
            <div class="col-lg-12">
                <h4>Symfony</h4>
                <p>High Performance PHP Framework for Web Development</p>
                <h4>Browsersync</h4>
                <p>Keep multiple browsers & devices in sync when building websites.</p>

                <h4>Less</h4>
                <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
                
                <h4>Critical</h4>
                <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p>
                <h4>Bootstrap</h4>
                <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
                
                
                <h4>Webpack</h4>
                <p>A bundler for javascript and friends. Packs many modules into a few bundled assets. Code Splitting allows to load parts for the application on demand ...</p>
            </div>
        </div>
    </div>
{% endblock %}
